body {
    font-family:"Inconsolata";
    background-color: #21201F;
    color: #73593F
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Raleway";
    text-align: center;
}

header {
    text-align: center;
}

/*hero section*/
#hero {
    text-align: center;
    border: 2px solid

}

#hero img {
    width: 300px;
}

/*bio section*/
#bio {
    text-align:center;
}

#hobbies {
    text-align:center;
}

/*gallery section*/
#gallery {
    border: 2px solid
}

#gallery img {
    max-width: 50%;
    
}

#gallery figure {
    text-align: center;
}

/*lit section*/
#lit {
    margin-bottom:1rem;
}

#lit div {
    padding:1rem;
    max-width:40rem;
    margin: 0 auto;
}