body {
    font-family:"Inconsolata";
    background-color: #21201F;
    color: #73593F
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Raleway";
    text-align: center;
}

header {
    text-align: center;
}

/*hero section*/
#hero {
    text-align: center;
    border: 2px solid

}

#hero img {
    width: 300px;
}

/*bio section*/
#bio {
    text-align:center;
}

#hobbies {
    text-align:center;
}

#hobbies li {
    list-style: none;
    text-align: center;
}

/*gallery section*/
#gallery {
    border: 2px solid #73593F;
    margin-bottom:2rem;
}

#gallery img {
    max-width: 85%;
}

#gallery figure {
    text-align: center;
}

#gallery figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:1rem;
}


/*lit section*/
#lit {
    margin-bottom:1rem;
}

#lit div {
    padding:1rem;
    max-width:100rem;
    margin: 0 auto;
    columns:20rem;
}

/*video section*/
#video {
    text-align:center;
    border:2px solid;
}

/*contact form*/
#formElements {
    display:grid;
    row-gap:.5em;
}

#contact {
    padding:1rem;
    max-width:600px;
    margin:2rem auto;
}

fieldset {
    border:2px solid #73593F;
    margin-top:1em;
    margin-bottom:1em;
}

legend {
    background-color: #73593F;
    color: #21201F
}

#contact input, #contact textarea, #contact select, #contact button {
    padding:.5em;
    font-size:1rem;
}

#contact ul {
    list-style:none;
    padding:0px;
}

#contact li {
    margin:1rem;
}

#contact button {
    background-color:#73593F;
    color:#21201F;
    border: 1px solid#73593F;
    max-width:400px;
    width:50%;
    justify-self:center;
}

/*footer*/
#footer {
    text-align:center;
}



/*tablet size*/
@media screen and (min-width:60em) {
figure {
    display:grid;
    grid-template-columns:2fr 1fr;
}
figcaption {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
}
figure img {
    width:100%;
}

#lit div {
    max-width:100%;
    columns:20rem;
}
}

/*large screen size*/
@media screen and (min-width:100em) {
    #gallery {
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
    }
    hr {
        display:none;
    }
    #gallery h2 {
        grid-column:1/-1;
    }
    figure {
        display:block;
    }
}